<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="DatabaseManager">
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.password">md4ever</property>
		<property name="hibernate.connection.url">jdbc:postgresql:metabase</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		
		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		
		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>
		
		<mapping resource="org/metadon/beans/TestPersist.hbm.xml"/>
		
	</session-factory>
</hibernate-configuration>