body {
	text-align: center;
}



body, th, td, input, textarea {
    font-family: Arial;
    font-size: 12px;
    color: #666666;
}

h1, h2, h3 {
    margin-top: 1.5em;
    color: #626456;
}

h1 {
    letter-spacing: -.075em;
    font-size: 3em;
}

h2 {
    letter-spacing: -.05em;
    text-transform: uppercase;
    font-size: 1.1em;
    /*font-weight: bold;*/
    color: #8D8E85;
}

h3 {
    font-size: 1em;
}

p, ul, ol {
    margin-top: 1.5em;
    line-height: 1.8em;
    font-size: 1.1em;
}

ul, ol {
    margin-left: 3em;
}

blockquote {
    margin-left: 3em;
    margin-right: 3em;
}

a {
    text-decoration: none;
    color: #80AB00;
}

a:hover {
    border: none;
}

h1 a, h2 a, h3 a {
    border: none;
    text-decoration: none;
    color: #80AB00;
}

h1 a:hover, h2 a:hover, h3 a:hover {
    background: none;
    color: #80AB00;
}

option {
    color: #666666;
    background-color: #DAF79B;
    border-bottom: 1px solid #CCCC99;
}

/********************************************************************/

.errorText {
    color: #CC3300;
    font-weight: bold;
}

.successText {
    color: #009900;
    font-weight: bold;
}

.userName {
    color: #CC9933;
    font-weight: bold;
}

.loggedOut {
    color: #CC9933;
}

/********************************************************************/

#page {
    text-align: left;
    margin: 0px auto;	
    width: 890px;
    /*width: 865px;*/
    border: 1px solid #999999;
}

/********************************************************************/

#menu {
    height: 34px;
    margin-top: 2px;
    margin-right: 2px;
    margin-left: 2px;
    background: url(images/menu_bg.png) repeat-x top left;
}

#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;
}

#menu li {
    float: left;
}

#menu a {
    display: block;
    float: left;
    height: 10px;
    padding: 9px 30px;
    margin-right: 1px;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 16px;
    color: #FFFFFF;
}

#menu a:hover {
    color: #DAF79B;
}

/********************************************************************/

#status {
    height: 18px;
    padding-right: 10px;
    text-align: right;
    color: #666666;
}

/********************************************************************/

.logo {
    height: 78px;
    border: 1px solid #848F60;
    margin-bottom: 5px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

#logoCompact {
    background-image: url(images/logo.png);
}

#logoExpand {
    width: 884px;
    background-image: url(images/logo_expand.png);
}

/********************************************************************/

.content {
    border-collapse : collapse;
    border-spacing: 2px;
    margin-right: 1px;
    margin-left: 1px;
    margin-top: 1px;
    margin-bottom: 2px;
}

#content {
    height: 330px;
}

#inputTable {
    border: 1px solid #999999;
    border-spacing: 4px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 3em;
}

#submitButton {
    margin-top: 1em;
}

#messages {
    padding-left: 10px;
}

#error {
    margin-top: 0px;
}

/********************************************************************/

#sidebar {
    padding-right: 2px;
}

#blogList {
    width: 240px;
    height: 245px;
    margin-bottom: 2px;
}

#info {
    height: 152px;
    background-color: #FFFFFF;
    border: 1px solid #848F60;
}

.infoLabel {
    padding-top: 7px;
    padding-left: 10px;
}

.infoValue {
    padding-left: 25px;
    padding-top: 7px;
}

#map {
    width: 638px;
    height: 482px;
    border: 2px solid #848F60;
}

/********************************************************************/

#footer {
    background: url(images/footer_bg.png) repeat-x top left;
    height: 60px;
    margin-right: 2px;
    margin-left: 2px;
    margin-bottom: 2px;
}

#footer p {
    padding-top: 10px;
    text-align: center;
    font-size: 10px;
    color: #FFFFFF;
}

