#directories
defaultFilename=data.tab
tabularFileFormat=true
# load method: 0= local file, 1=from URL, 2= from inside jar. used filename see above
loadMethod=2
textureDirectory=./textures/
showWholeNetOnStart=false

#physics settings
edgeStrength=0.15
valenceFactor=0.30
repellStrength=0.10
inflateTimeMs=500
permanentInflate=0
repellDistance=25
repellMaxDist=1000
standardNodeDistance=80
repellOn=true

#interface settings
exhibitionMode=true

#layout settings
clusterRadius=2.5
radialLayoutDistance=120
boxLayoutDistance=100
pickDistance=2
drawGroups=true
edgeTresholdRepell=1500
labelsEdgeDir=true
layoutClusters=true

#render settings
fullscreen=false
nodeSize=4
nodeSizeInDegreeVariance=0.15
nodeSizeOutDegreeVariance=0.15
labelSize=3
labelSizeVariance=.6
searchdepth=2
picSize=3
edgeWidth=1
edgeAlpha=0.5
thumbnailRes=128
tiltedLabels=false
textures=true
clusters=false
screenshotResolution=2048
maxLabelRenderDistance=5000
useTextureFonts=true
FontFamily=Times New Roman

#colorSettings
pickGradientCenter=0xff0000
pickGradientFar=0x00ff00
nodeColor=0xff333e
nodeAlpha=0.8
edgeColor=0x3333ff
rollOverColor=0xff9900
frameColor=0x0088ff
inheritEdgeColorFromNodes=false

#SVG export
enableSVGexport=true
SVGNodesCircles=false
SVGNodesAligned=true

#attribute mappings (not implemented)
map1 = 
map2 = 
map3 = 
map4 = 
