<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!-- Servlets -->
	<!--
		<servlet> <servlet-name>greetServlet</servlet-name>
		<servlet-class>org.metadon.server.GreetingServiceImpl</servlet-class>
		</servlet> <servlet-mapping> <servlet-name>greetServlet</servlet-name>
		<url-pattern>/metamap/greet</url-pattern> </servlet-mapping>
	-->

	<servlet>
		<servlet-name>gwt-log-remote-logger-servlet</servlet-name>
		<servlet-class>com.allen_sauer.gwt.log.server.RemoteLoggerServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>gwt-log-remote-logger-servlet</servlet-name>
		<url-pattern>/metamap/gwt-log</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Metamap.html</welcome-file>
	</welcome-file-list>

</web-app>
